* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  /* cursor: default; */
}

body {
  background: #EEEEEE;
  overflow: sroll;
}

header {
  border-bottom: 2px solid purple;
}

h1 {
  font-size: 40px;
  margin: 5px 0px 5px 10px;
}

h2 {
  font-size: 26px;
  text-align: right;
  margin-right: 10px;
}

h3 {
  text-align: right;
  margin: 5px 40px 5px 0px;
}

input::-webkit-calendar-picker-indicator,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  cursor: pointer;
}

.bookings-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-new-trip {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 25px 0px;
  padding: 20px;
  border: 1px solid black;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 15px;
  padding: 5px;
  cursor: pointer;
}

.new-trip-cost-estimator {
  height: 200px;
  display: flex;
  align-items: center;
}

.disable {
  cursor: not-allowed;
}

/* Card Section */
.past-trips-container,
.present-trips-container,
.future-trips-container,
.all-trip-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
  margin: 5px;
  border: 2px solid black;
}

.card-wrapper {
  margin: 5px;
  padding: 5px;
  height: 300px;
  width: 300px;
  box-shadow: 2px 2px 2px grey;
  background-color: #FFFFFF;
}

.card-wrapper:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}

.card-image {
  background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
  /* cursor: pointer; */
}

img {
  height: 20vh;
}

h4 {
  font-size: 20px;
  margin: 5px 0px 15px 5px;
}

.date {
  font-size: 14px;
  margin: 5px 0px 0px 5px;
}

.trip-status{
  background-color: #EFEFEF;
  margin: 5px;
  padding: 5px;
  height: 35px;
  width: 270px;
  text-align: center;
  font-size: 25px;
}

.catch-error {
  color: red;
}

.hidden {
  display: none;
}
